services:
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  db:
    image: mysql:8.0  # ใช้ MySQL 8.0 เป็นเวอร์ชันใหม่กว่า
    container_name: mysql-server
    environment:
      MYSQL_ROOT_PASSWORD: projectcp242#
      MYSQL_DATABASE: shopping_cart
      MYSQL_USER: sigma_cartmanagement
      MYSQL_PASSWORD: projectcp242#
      MYSQL_ROOT_HOST: '%' # อนุญาตการเชื่อมต่อ root จากทุก host (ระมัดระวังในการใช้งานจริง)
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 3

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-ui
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: projectcp242#
      PMA_ARBITRARY: 1
    ports:
      - "8080:80"
    restart: always
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      timeout: 10s
      retries: 3

volumes:
  redis_data:
  db_data: